{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!--Star slider-->
    <section class="slider">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="flyin" data-slotamount="1" data-masterspeed="300"  data-thumb="{{asset('build/assets/images/thumbs/thumb1.jpg')}}" data-delay="4000" >
                        <!-- <img src="{{asset('build/assets/images/slides/slide-intro.jpg')}}" alt=""> -->
                        <div class="caption randomrotate"
                                    data-x="center"
                                    data-y="20"
                                    data-speed="300"
                                    data-start="1200"
                                    data-easing="easeOutExpo"  >
                                    <img src="{{asset('build/assets/images/slides/logo.png')}}" alt="">
                        </div>
                    </li>
                    <!-- THE SECOND SLIDE -->
                    <li data-transition="3dcurtain-horizontal" data-slotamount="1" data-masterspeed="300"  data-thumb="{{asset('build/assets/images/thumbs/thumb2.jpg')}}">
                        <!-- <img src="{{asset('build/assets/images/slides/slide-2.jpg')}}" alt="">
                         -->
                        <div class="caption very_big_white lfl stl"
                                data-x="right"
                                data-y="30"
                                data-speed="300"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">IMMATRICULER VOTRE ENTREPRISE</div>
                                
                    <div class="caption lfb stl"
                                data-x="right"
                                data-y="110"
                                data-speed="300"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" ><a href="" class="button_large"> EN MOINS DE TEMPS</a></div>
                    </li>
                    <!-- THE THIRD SLIDE -->
                    <li data-transition="cube" data-slotamount="1" data-masterspeed="300"  data-thumb="{{asset('build/assets/images/thumbs/thumb2.jpg')}}">
                        <!-- <img src="{{asset('build/assets/images/slides/slide-3.jpg')}}" alt="">
                         -->
                        <div class="caption very_big_white lfl stl"
                                data-x="right"
                                data-y="30"
                                data-speed="300"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">DECLARER EN LIGNE LE BENEFICIAIRE</div>
                                
                    <div class="caption lfr stl"
                                data-x="right"
                                data-y="110"
                                data-speed="300"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" ><a href="all-courses.html" class="button_large">DE VOTRE SOCIETE AU GREFFE DU TRIBUNAL DE COMMERCE</a></div>
                    </li>
                    <!-- THE FOURTH SLIDE -->
                    <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300"  data-thumb="{{asset('build/assets/images/thumbs/thumb2.jpg')}}">
                        <!-- <img src="{{asset('build/assets/images/slides/slide-5.jpg')}}" alt="">
                         -->
                        <div class="caption very_big_white lfl stl"
                                data-x="30"
                                data-y="30"
                                data-speed="300"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">DSER VOTRE PARTENAIRE DE CONFIANCE</div>

                            <div class="caption big_white lfl stl"
                                data-x="100"
                                data-y="100"
                                data-speed="300"
                                data-start="800"
                                data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">POUR VOS DEMARCHES EN LIGNE</div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
    </section><!--End slider-->
 
    <div class="container">
        <div class="row" id="main-boxes">
            <div class="span4">
                <div class="box-style-2 green">
                    <a href="all-courses.html" title="Formalités en ligne">
                        <img src="{{asset('build/assets/img/icon-home-course.png')}}" alt="">
                        <h3>Formalités en ligne</h3>
                        <p>Dématérialisez toutes vos formalités Immatriculation, Modification, Radiation d'entreprise, Dépôt d'actes, Dépôt des comptes annuels, Déclaration au Registre des bénéficiaires effectifs</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="box-style-2 orange">
                    <a href="contact.html" title="Documents officiels">
                        <img src="{{asset('build/assets/img/icon-home-apply.png')}}" alt="">
                        <h3>Documents officiels</h3>
                        <p>Extrait Kbis, Etat d'endettement, Historique des modifications, Comptes annuels, Actes et statuts, Procédures collectives...
                        en quelques clics</p>
                    </a>
                </div>
            </div>
            
            <div class="span4">
                <div class="box-style-2 red">
                    <a href="contact.html" title="MonJuridique DSER">
                        <img src="{{asset('build/assets/img/icon-home-visit.png')}}" alt="">
                        <h3>MonJuridique DSER</h3>
                        <p>Registres obligatoires <br>
                        - Gestion des titres<br>
                        - Assemblées en ligne<br>
                        - Coffre-fort numérique SAE-CCFN<br>
                        - Signature électronique avancée</p>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- end container-->
 
    <div class="container">
        <div class="row">
            <aside  class="span4 ">
                <div class="box-style-1 ribbon borders">
                    <div class="widget">
                        <div class="widget">
                            <p class="lead">Recherchez des entreprises et obtenez des informations certifiées.</p> 
                                <p>Extrait Kbis, bénéficiaires effectifs, état d'endettement, actes et statuts, comptes annuels, procédures collectives</p>
                               

                        <form class="form-search form-inline">
                            <input type="text" class="input-medium">
                            <button type="submit" class="button_medium">Recherchez</button>
                        </form>
                        <p class="text-center"><a href="contact.html" class="button_large">Recherche avancée</a></p> 
                    </div><!-- End Search -->
                    
                   
                    </div><!-- End widget -->
                    
                    <hr>

                    <div class="feat">
                        <i class="icon-group icon-3x"></i>
                        <h3>PORTAIL KYC</h3>
                        <p>Un outil de surveillance dédié à la connaissance du client basé sur les documents officiels et certifiés par les greffiers des tribunaux de commerce, en temps réel.</p>
                        <p class="text-center"><a href="contact.html" class="button_large">Découvrir</a></p> 
                    </div>
                
                    <hr class="double">
                
                    <div class="feat">
                        <i class="icon-film icon-3x"></i>
                        <h3>PERFORMANCES FINANCIÈRES</h3>
                        <p>Un outil de mesure de santé financière. Découvrez les notations d'Infogreffe et de nos partenaires. </p>
                        <p class="text-center"><a href="contact.html" class="button_large">En savoir plus</a></p> 
                    </div>
                
                    <hr class="double">
                
                    <div class="feat">
                        <i class="icon-book icon-3x"></i>
                        <h3>DOSSIERS THÉMATIQUES</h3>
                        <p>DSER met à votre disposition une série de dossiers informatifs et complets sur l'entreprise. Leur consultation est simple et gratuite. </p>
                        <p class="text-center"><a href="contact.html" class="button_large">Consulter</a></p> 
                    </div>

                </div>
                
            </aside>

            <section class="span8">
                <div class="col-right">
                    <h2>Actualités</h2>
                    <p class="lead">An utinam reprimique duo, putant mandamus cu qui.</p>
            
                    <hr>
                    
                    <div class="news-strip">
                        <ul>
                            <li class="row">
                                <div class="date-news"><strong>05</strong>Oct 2022</div>
                                <div class="span6">
                                    <h5><a href="#"><i class="icon-file"></i> Saepe tantas ocurreret duo ea</a></h5>
                                    <p>Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Priaeque iuvaret nominati et, ad mea clita numquam. Maluisset dissentiunt et per, dico liber erroribus vis te. </p>
                                </div>
                            </li>
                            
                            <li class="row">
                                <div class="date-news"><strong>15</strong>Oct 2022</div>
                                <div class="span6">
                                    <h5><a href="#"><i class="icon-file"></i>Dolor consul graecis nec ut</a></h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Priaeque iuvaret nominati et, ad mea clita numquam. Maluisset dissentiunt et per, dico liber erroribus vis te.</p>
                                </div>
                            </li>
                            
                            <li class="row">
                                <div class="date-news"><strong>25</strong>Oct 2022</div>
                                <div class="span6">
                                    <h5><a href="#"><i class="icon-file"></i>An utinam reprimique duo</a></h5>
                                    <p>Putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Priaeque iuvaret nominati et, ad mea clita numquam.</p>
                                </div>
                            </li>
                            
                            <li class="row">
                                <div class="date-news"><strong>28</strong>Oct 2022</div>
                                <div class="span6">
                                    <h5><a href="#"><i class="icon-file"></i>Autem possim his cu</a></h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Priaeque iuvaret nominati et, ad mea clita numquam. Maluisset dissentiunt et per, dico.</p>
                                </div>
                            </li>
                            
                            <li class="row">
                                <div class="date-news"><strong>30</strong>Oct 2022</div>
                                <div class="span6">
                                    <h5><a href="#"><i class="icon-file"></i>Maluisset dissentiunt et per</a></h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Priaeque iuvaret nominati et, ad mea clita numquam. Dico liber erroribus vis te.</p>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    
                    <hr>
                    <p class="text-center"><a href="contact.html" class="button_large">Voir toutes les actualités</a></p> 
                        
                </div>
            </section>
        </div>
    </div><!-- end container-->
{% endblock %}
